.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App .play-button {
  position: absolute;
  z-index: 1;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.App .play-button label{
  padding: 0.8rem 1.5rem;
  border: 1px solid lightgray;
  color: grey;
  background-color: rgb(176, 247, 223);
  border-radius: 2px;
  margin: 1rem;
  width: 200px;
}
.App .play-button .game-rom-input {
  display: none;
}
.App .play-button label:hover {
  cursor: pointer;
  color: black;
  border: 1px solid grey;
}

.App .play-button.hidden {
  display: none;
}

.gameboy-canvas {
  width: 100%;
  height: calc(100% - 60px);
  margin: 0;
  padding: 0;
  background-color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
